.video-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.logo{
    width:7%;
    align-content:center;
    position:center;
    margin-right:45%;
}